click==6.7
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
en-core-web-sm==2.0.0
Flask==0.12.3
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
msgpack-numpy==0.4.1
msgpack-python==0.5.6
murmurhash==0.28.0
nltk==3.2.5
numpy==1.22.0
pandas==0.22.0
pathlib==1.0.1
pkg-resources==0.0.0
plac==0.9.6
preshed==1.0.0
pymongo==3.6.0
python-dateutil==2.7.2
pytz==2018.4
regex==2017.4.5
six==1.11.0
spacy==2.0.11
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
tqdm==4.23.1
ujson==1.35
uWSGI==2.0.16
Werkzeug==0.14.1
wrapt==1.10.11
